<!DOCTYPE html>
<html>
<head>
  <title>FloRollout</title>
  <%= stylesheet_link_tag    "flo_rollout/application", media: "all" %>
  <%= javascript_include_tag "flo_rollout/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
